


{% extends 'frontend/headerfooterfront.html.twig' %}
{% block content %}
<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="hero__caption">
                            
        {% for user in users %}
         
                                <h1>1Welcome   <span>  {{ user.nom }}        {{ user.prenom }} </span> </h1>
                          {% endfor %}         
                            </div>
                        </div>
                    </div>
                    <!-- Forum user-->





    
              
     
                




  <!-- Forum user-->
               
</main>
{% endblock %}














